<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bjjy.buildtalk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".core.service.PlayerService"/>
        <receiver android:name=".core.receiver.StatusBarReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.bjjy.buildtalk.STATUS_BAR_ACTIONS"/>
            </intent-filter>
        </receiver>

        <activity android:name=".ui.circle.PDFViewerActivity"/>
        <activity android:name=".ui.circle.ComplaintReasonActivity" />
        <activity android:name=".ui.discover.DissertationListActivity" />
        <activity
            android:name=".ui.main.SplashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="jiantanapp" />
            </intent-filter>
        </activity> <!-- 腾讯bugly -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 友盟配置 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- Activity配置 -->
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.EveryTalkListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.TopticListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.CourseListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.EveryTalkDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.talk.TalkSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.talk.MasterListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.talk.CircleListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.talk.MasterDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.talk.MasterCircleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.talk.FansFocusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.talk.MasterCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.circle.CircleSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.circle.CircleAgreementActvity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.circle.CreateCircleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.circle.TopticCircleActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.circle.CourseCircleActivity" />
        <activity
            android:name=".ui.main.LoginActivity"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.main.PhoneLoginActivity"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.mine.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.PersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.TransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.ViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.SetPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.circle.CircleInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.circle.CircleMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.circle.MyCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.circle.PublishActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.circle.CircleDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.circle.TopticDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.talk.CircleManDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.EditNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.BindPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.EditBindPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.circle.CourseDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.ServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.DissertationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.VersionRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MasterVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.IDCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.ImagePagerActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>